<div class='page-header'>
  <h1>Administration</h1>
    <%= link_to 'Add Unit', '/admin/vendors', class: 'btn btn-primary' %>
    <%= link_to 'View Units', '/admin/menus', class: 'btn btn-primary' %>
</div>
