<div class='page-header'>
  <h1>Administration</h1>
    <%= link_to 'Vendors', '/admin/vendors', class: 'btn btn-primary' %>
    <%= link_to 'Menus', '/admin/menus', class: 'btn btn-primary' %>
</div>
