<nav class="navbar navbar-default">
  <header class="ratefood-page">
    <div class="container clearfix">
      <div id="credentials">
          Hello, <strong> <%= @current_user.first_name %> </strong>
      </div>
      <a href="/"><h1 id="ratefood-page-title">Console Timecard</h1></a>
    </div>
    <div class="centered clearfix">
      <div id="vendors-tabs">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to 'Home', root_path, {:style=>'color:#FFFFFF;'}%>
          </li>
        </ul>
      </div>
    </div>
  </header>
</nav>
